<!DOCTYPE html>
<html lang="PT-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/./css/styles-livro.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Leitores </title>
</head>
<header id="cabecalho" alt="cabecalho">
    <p class="font-weight-bold" style="font-family:'Berkshire Swash'; color: rgb(0, 0, 0); font-size: 48px; border-color: tomato; border-left: 2px; "><img style="width: 80px;" src="/./images/icons8-livros-100.png"> WaysBooks</p>
    </header>

<body style="background: rgb(182, 123, 238);">
    <div class="container p-5">
        <div class="card shadow-lg rounded p-3">
            <div class="row">
                <div class="col-2">

                    <a href="/leitores" class="rounded-pill shadow p-2 d-flex align-items-center justify-content-center"
                        style="text-decoration:none;">
                        <i class="material-icons mr-2" style="color:black">arrow_left
                        </i> <span class="" style="color:black">Leitores</span>
                    </a>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="text-white">Nome</label>
                <input type="text" class="form-control" disabled placeholder="Nome" name="name" value="<%= leitor.name %>"
                    required>
            </div>
            

            <div class="form-group">

                <label for="surname" class="text-white">Sobrenome</label>
                <input type="text" class="form-control" disabled placeholder="Sobrenome" name="surname" value="<%= leitor.surname %>"
                    required>
            </div>
             
            <div class="form-group">

                <label for="datanasc" class="text-white">Data de Nascimento</label>
                <input type="text" class="form-control" disabled placeholder="Data de Nascimento" name="datanasc"  maxlength='10' value="<%= leitor.datanasc %>"
                required>
        </div>

        <div class="form-group">
            
           <label for="bairro" class="text-white">Bairro</label>
            <input type="text" class="form-control" disabled placeholder="Bairro" name="bairro" value="<%= leitor.bairro %>" required>

        </div> 
        <div class="form-group">

            <label for="rua" class="text-white">Rua</label>
            <input type="text" class="form-control" disabled placeholder="Rua" name="rua" value="<%= leitor.rua %>" required>

        </div> 
        <div class="form-group">

            <label for="numero" class="text-white">Número</label>
            <input type="text" class="form-control"disabled placeholder="Número" name="numero" value="<%= leitor.numero %>" required>

        </div> 
    

        <div class="form-group">

            <label for="tel" class="text-white">Telefone</label>
            <input type="text" class="form-control" disabled placeholder="Telefone" name="tel" value="<%= leitor.tel %>" required>

        </div> 
        
        <div class="form-group">

            <label for="email" class="text-white">E-mail</label>
            <input type="email" class="form-control" disabled placeholder="E-mail" name="email" value="<%= leitor.email %>" required>

        </div> 
       


      </div>
    </div>
    <!--<div id="espaco"></div>-->

   
    <footer style="height: 60px;width: auto; text-align: center;">
        Copyright 2021 - todos os direitos reservados para WaysBooks
      </footer>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>